STRIPE_WEBHOOK_SECRET=whsec_your_stripe_secret
GITHUB_WEBHOOK_SECRET=your_github_secret
SHOPIFY_WEBHOOK_SECRET=your_shopify_secret
SLACK_WEBHOOK_SECRET=your_slack_secret
SVIX_WEBHOOK_SECRET=whsec_your_svix_secret
